USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[C_Employee]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_Employee](
	[EmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](100) NULL,
	[EmployeeName] [nvarchar](100) NULL,
	[DOB] [datetime] NULL,
	[ReligionId] [bigint] NULL,
	[RoleName] [nvarchar](50) NULL,
	[DOJ] [datetime] NULL,
	[BasicSalary] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C_User]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_Religion]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_Religion](
	[ReligionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReligionName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[C_Employee] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[C_Employee] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeactivateEmployee]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeactivateEmployee]
    @EmployeeId INT,
    @ModifiedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.C_Employee
    SET IsActive = 0,
        UpdatedBy = @ModifiedBy,
        UpdatedDate = GETDATE()
    WHERE EmployeeId = @EmployeeId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmployees]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.EmployeeId,
        e.EmployeeNumber,
        e.EmployeeName,
        e.RoleName,
        e.BasicSalary,
        e.DOB,
        e.DOJ,
        e.ReligionId,
        r.ReligionName,
        e.IsActive
    FROM dbo.C_Employee e
    LEFT JOIN dbo.D_Religion r ON e.ReligionId = r.ReligionId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeById]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetEmployeeById]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.EmployeeId,
        e.EmployeeNumber,
        e.EmployeeName,
        e.RoleName,
        e.BasicSalary,
        e.DOB,
        e.DOJ,
        e.ReligionId,
        r.ReligionName,
        e.IsActive,
        e.CreatedBy,
        e.CreatedDate
    FROM dbo.C_Employee e
    LEFT JOIN dbo.D_Religion r ON e.ReligionId = r.ReligionId
    WHERE e.EmployeeId = @EmployeeId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetReligions]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetReligions]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ReligionId, ReligionName FROM D_Religion ORDER BY ReligionName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEmployee]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertEmployee]
    @EmployeeNumber NVARCHAR(50),
    @EmployeeName NVARCHAR(100),
    @RoleName NVARCHAR(50),
    @BasicSalary DECIMAL(18,2),
    @DOB DATE,
    @DOJ DATE,
    @ReligionId INT,
    @IsActive BIT,
    @SavedBy NVARCHAR(100)
AS
BEGIN
    INSERT INTO dbo.C_Employee
    (EmployeeNumber, EmployeeName, RoleName, BasicSalary, DOB, DOJ, ReligionId, IsActive, CreatedBy, CreatedDate)
    VALUES
    (@EmployeeNumber, @EmployeeName, @RoleName, @BasicSalary, @DOB, @DOJ, @ReligionId, @IsActive, @SavedBy, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateEmployee]
    @EmployeeId INT,
    @EmployeeNumber NVARCHAR(50),
    @EmployeeName NVARCHAR(100),
    @RoleName NVARCHAR(50),
    @BasicSalary DECIMAL(18,2),
    @DOB DATE,
    @DOJ DATE,
    @ReligionId INT,
    @IsActive BIT,
    @SavedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.C_Employee
    SET
        EmployeeNumber = @EmployeeNumber,
        EmployeeName = @EmployeeName,
        RoleName = @RoleName,
        BasicSalary = @BasicSalary,
        DOB = @DOB,
        DOJ = @DOJ,
        ReligionId = @ReligionId,
        IsActive = @IsActive,
        UpdatedBy = @SavedBy,
        UpdatedDate = GETDATE()
    WHERE EmployeeId = @EmployeeId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateUser]    Script Date: 29-10-25 03:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ValidateUser]
    @UserName NVARCHAR(50),
    @Password NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserId, UserName
    FROM dbo.C_User
    WHERE UserName = @UserName
      AND Password = @Password;
END
GO




INSERT INTO D_Religion (ReligionName)
VALUES ('Islam'), ('Hinduism'), ('Christianity'), ('Other');

INSERT INTO C_User (UserName, Password)
VALUES ('habeeb', 'habeeb123');

INSERT INTO C_Employee (EmployeeNumber, EmployeeName, DOB, ReligionId, RoleName, DOJ, BasicSalary, CreatedBy, IsActive)
VALUES
('EMP001', 'Habeeb Mohamed', '1995-03-15', 3, 'UI Designer', '2023-02-05', 3200, 'Habeeb', 1),
('EMP002', 'Sara Lim', '1996-09-25', 1, 'HR Executive', '2022-09-01', 3000, 'Habeeb', 1);
